[package]
name = "wu"
version = "0.1.0"
edition.workspace = true
description = "Cross-platform tool to identify which processes have a file, directory, or device open"

[dependencies]
clap.workspace = true
anyhow.workspace = true
sysinfo.workspace = true
serde.workspace = true
serde_json.workspace = true
which.workspace = true
walkdir.workspace = true

[target.'cfg(target_os = "linux")'.dependencies]
procfs.workspace = true

[target.'cfg(target_os = "windows")'.dependencies]
windows-sys.workspace = true

[lints]
workspace = true
