[package]
name = "aws2env"
version = "0.1.0"
edition.workspace = true

[dependencies]
clap.workspace = true
dirs.workspace = true
serde.workspace = true
toml.workspace = true
thiserror.workspace = true

[lints]
workspace = true
